/* These are, perhaps, just for testing. How do we avoid
   design-breakage when the first element in the common-area has a
   top-margin? */

div.content {
  font-size: smaller;
}

div.content h1 {
  margin-top: 0;
}

/* Comments */

div.comments {
  margin-top: 2em;
}

div.comments div {
  background-color: #f8f8f8;
  margin-bottom: 0.25em;
}

div.comments div p {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

div.comments p.author {
  margin-top: -0.5em;
  margin-left: 0.25em;
  margin-bottom: 1.5em;
  font-style: italic;
}

div.comments form label {
  display: block;
  font-size: small;
}

div.comments form label.after {
  display: inline;
  font-size: normal;
}

/*
 Local Variables: ***
 mode: c ***
 End: ***
*/
