a:link { color: #8A004F; background: transparent; text-decoration: none;}
a:visited { color: #8A004F; background: transparent; text-decoration: none;}
a:active { color: #8A004F; background: transparent; text-decoration: none;}
a:hover { color: #8A004F; background: transparent; text-decoration: underline;}

H1 {font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 14px; font-weight: bold; margin-top: 10px; margin-bottom: 8px;}
H2 {font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 13px; font-weight: bold; }
H3 {font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; font-weight: bold; }
H4 {font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; font-weight: bold; }
H5 {font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10px; font-weight: bold; }
H6 {font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10px; font-weight: normal;}


H1.title {font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 14px; font-weight: bold; margin-top: 10px; margin-bottom: 8px;}

.content {
  font-family: Verdana,Arial,Helvetica,sans-serif; 
  font-size: 12px;
}

img { border: none }

div.breadcrumbs {
	font-size: 10px;
  padding: 7px; 
}

.enddate {
	font-size: small;
  color: gray;
  background: transparent;
}

/* CALENDAR CLASSES - START */

.calendarday {
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    background-color: #666666; 
}

.tekstGraaLille {
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

.tekstLille {
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

.event {
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

/* CALENDAR CLASSES - END */

td {
  font-family: Arial,Verdana,Helvetica,sans-serif;
  font-size: 12px;
}

/* FORM FONTS */

form td {
  font-family: Arial,Verdana,Helvetica,sans-serif; 
  font-size: 12px;
}

form td input {
  font-family: Arial,Verdana,Helvetica,sans-serif; 
  font-size: 12px;
}

form td select {
  font-family: Arial,Verdana,Helvetica,sans-serif; 
  font-size: 12px;
}

/* FORM FONTS - END*/

/* COMBO/KEYWORD SEARCH */

.bigletter  {
  font-family: Arial,Verdana,Helvetica,sans-serif; 
  font-size: 14px;
  font-weight: normal;
}

.subdoc  {
  font-family: Arial,Verdana,Helvetica,sans-serif; 
  font-size: 12px;
  font-weight: normal;
}

.docdate  {
  font-family: Arial,Verdana,Helvetica,sans-serif; 
  font-size: 12px;
  font-weight: normal;
}

/* COMBO/KEYWORD SEARCH - END */

div.comments {
  margin-top: 2em;
}

div.comments div {
  background-color: #f8f8f8;
  margin-bottom: 0.25em;
}

div.comments div p {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

div.comments p.author {
  margin-top: -0.5em;
  margin-left: 0.25em;
  margin-bottom: 1.5em;
  font-style: italic;
}

div.comments form label {
  display: block;
  font-size: small;
}

div.comments form label.after {
  display: inline;
  font-size: normal;
}

/*
 Local Variables: ***
 mode:c ***
 tab-width:2 ***
 End: ***
*/
